@charset "UTF-8";
canvas {
  vertical-align: top;
}

/* スタイルの引継ぎ */
main {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

#battleNumber {
  text-align: center;
  font-size: 15px;
  font-weight: 100;
}

#mainTable {
  font-size: 15px;
  font-family: 'ＭＳ Ｐゴシック',sans-serif;
  text-align: center;
  max-width: 410px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#leftField,
#rightField {
  display: flex;
  width: 32%;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
}

.centers {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
}

.middleField {
  width: 100%;
  border: 1px solid #000;
  padding: 10px 0;
}

.middleField:first-of-type {
  margin: 0 0 10px;
}

#textarea1 {
  width: 100%;
}

A {
  text-decoration: none;
}

a:hover {
  color: #99ccff;
}

.resultField {
  display: none;
}

h1 {
  margin: 10px 0 0;
  padding: 0;
  font-size: 18px;
}

.checkarea {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.checkarea h3 {
  font-size: 16px;
  font-weight: 100;
}

.checkarea .checkarea_uls {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.checkarea .checkarea_uls ul {
  display: flex;
  width: 25%;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 0 0 15px;
  padding: 0 10px;
  border-right: 1px solid #ccc;
}

.checkarea .checkarea_uls ul:nth-child(4n) {
  border-right: none;
}

.checkarea .checkarea_uls ul li {
  width: 100%;
  list-style-type: none;
}

.checkarea .checkarea_uls ul li > label {
  font-size: 0.7em;
  display: inline-block;
  text-indent: -1em;
  line-height: 1.4;
  padding-left: 1em;
  cursor: pointer;
}

.checkarea .checkarea_uls ul li.categorise {
  margin: 10px 0;
}

.checkarea .checkarea_uls ul li.categorise label {
  width: auto;
}

.checkarea .checkarea_uls ul li.categorise:first-child {
  margin: 0 0 10px;
}

.checkarea .checkarea_uls ul li:first-child {
  margin: 0 0 10px;
}

.checkarea .checkarea_uls ul li:first-child > label {
  margin: 0 0 0 5px;
}

.checkarea .checkarea_uls ul li label {
  position: relative;
  width: 100%;
}

.checkarea .checkarea_uls ul li label .yomikata {
  display: none;
}

.checkarea .checkarea_uls ul li label:hover .yomikata {
  display: inline-block;
  position: absolute;
  z-index: 9;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background: #fff;
  padding: 0 0 0 5px;
}

@media screen and (max-width: 767px) {
  .checkarea {
    background: #fff;
    transition: all 0.5s;
  }
  .checkarea h3 {
    margin: 0;
  }
  .checkarea .checkarea_uls ul {
    width: 50%;
    padding: 0 5px 0 0;
  }
  .checkarea .checkarea_uls ul:nth-child(2n) {
    border-right: none;
    padding: 0 0 0 5px;
    box-sizing: border-box;
  }
  .checkarea.selectopen, .checkarea.selectclose {
    top: 0;
  }
  .checkarea.selectopen {
    left: 0;
    position: absolute;
    height: auto;
  }
  .checkarea.selectclose {
    position: fixed;
    left: 100%;
    height: 100vh;
    padding: 10px;
  }
  .checkarea.selectclose .acordionArea {
    height: calc(100vh - 40px);
    overflow: hidden;
  }
}

.resultField_captureArea {
  display: inline-block;
  vertical-align: top;
  padding: 0 10px 0 0;
  margin: 0;
  box-sizing: border-box;
}

.resultField_captureArea p {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 5px;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .resultField_captureArea {
    width: 100%;
  }
}

#resultField {
  display: flex;
  top: 0;
  left: 0;
  justify-content: flex-start;
  background: #f7ffff;
}

@media screen and (max-width: 767px) {
  #resultField {
    flex-wrap: wrap;
    width: 100%;
  }
}

#resultField table {
  border: 1px solid #000;
  border-collapse: collapse;
  flex: 1;
  margin: 0;
}

@media screen and (max-width: 767px) {
  #resultField table {
    width: 50%;
    flex: initial;
  }
}

#resultField table tr td {
  font-size: 12px;
  padding: 5px 3px;
  background: #fff;
  text-align: center;
}

.resultField_twit {
  margin: 16px 0 0;
}

.copy {
  font-size: 80%;
  margin: 20px 0 0;
}

/*  見た目の本格的な調整　そのうちmitame.scssとかで分離させた　　　　　い  */
button {
  zoom: 0.75;
}

button.reset {
  background: #c71515;
}

.acordionArea {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  background: #f7ffff;
}

@media screen and (max-width: 767px) {
  .checkarea.selectopen {
    box-sizing: border-box;
    padding: 10px;
  }
}

#entypo-twitter {
  fill: #00acee;
  zoom: 0.7;
  vertical-align: top;
}

.slidetg {
  cursor: pointer;
  text-decoration: underline;
}

.slidetg:hover {
  opacity: 0.7;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .slidetg {
    position: absolute;
    left: -158px;
    bottom: 15vh;
    display: inline-block;
    z-index: 9999;
  }
}

.checkareaClose,
.checkareaClose span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.checkareaClose {
  display: none;
}

@media screen and (max-width: 767px) {
  .checkareaClose {
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 44px;
    right: 0;
    top: 0;
    background: #f7ffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 99;
    zoom: 0.7;
  }
  .checkareaClose span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #999;
    border-radius: 4px;
  }
  .checkareaClose span:nth-of-type(1) {
    top: 20px;
    transform: rotate(45deg);
  }
  .checkareaClose span:nth-of-type(2) {
    top: 20px;
    transform: rotate(-45deg);
  }
  .checkareaClose:hover {
    opacity: 0.7;
  }
}
